<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/functions.css">
    <link rel="stylesheet" href="/stylesheets/add-function.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="functions-title-container">
        <span class="functions-title">Update Function</span>
    </div>
    <div class="add-form-container">
        <form id="form-container" action="/admin/edit_function" method="post">
            <div class="blank-spacer">
            </div>
            <div class="add-form">
                <label class="add-form-element" for="name">Name</label>
                <input class="add-form-element" type="text" name="name" id="name" placeholder="Type a name..." value="<%= editableFunction.name %>">
            </div>
            <div class="blank-spacer-2">
            </div>
            <div class="add-form">
                <label class="add-form-element" for="name">Function ID</label>
                <input class="add-form-element" type="text" name="id" id="id" value="<%= editableFunction.id %>" readonly>
            </div>
            <div class="blank-spacer-2">
            </div>
            <div class="add-form">
                <label class="add-form-element" for="name">Version</label>
                <input class="add-form-element" type="text" name="version" id="version" value="<%= version.version %>" readonly>
            </div>
            <div class="blank-spacer-2">
            </div>
            <div class="add-form-2">
                <label class="add-form-element" for="description">Description</label>
                <textarea class="add-form-element" name="description" id="description" placeholder="Type a description...">
                    <%= editableFunction.description %>
                </textarea>
            </div>
            <div class="blank-spacer-2">
            </div>
            <div class="add-form-2">
                <label class="add-form-element" for="function_code">Code</label>
                <textarea class="add-form-element" type="text" name="function_code" id="function_code" placeholder="Type your new code...">
                    <%= version.function_code %>
                </textarea>
            </div>
            <div class="blank-spacer-2">
            </div>
            <div class="add-form" id="add-function-button-container">
                <button class="btn" id="add-form-button" type="submit">Update</button>
            </div>
            <div class="blank-spacer">
            </div>
        </form>
    </div>
    
<%- include('../includes/end.ejs') %>